.section-size {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 90px 10px 70px 10px;
  margin: 0 auto;

  @media (max-width: 991px) {
    padding-top: 70px;
    gap: 60px;
  }

  @media (max-width: 768px) {
    padding-top: 50px;
    gap: 40px;
  }
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: $text-primary-color;
}

@import "main-components/main-section-revolutionary";
@import "main-components/main-section-about";
@import "main-components/main-section-pricing";
@import "main-components/main-section-features";