$page-primary-color: #8d81ac;
$page-secondary-color: #ffffff;
$text-primary-color: #ffffff;
$text-secondary-color: #848e97;
$feature-bg-color: #f4f4f4;
$titles-black-color: #323232;
$editor-section-title-color: #635c73;
$section-remark-color: #a291a5;
$people-divider-color: #645766;