.header {
  height: 100%;
  min-height: 929px;
  padding-bottom:66px;
  color: $page-primary-color;

  @media (max-width: 481px) {
    min-height: 830px;
  }
}

.bg-container {
  height: 800px;
  background-image: url("../img/header-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @media (max-width: 481px) {
    height: 718px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px 30px;
  user-select: none;
  position: relative;

  @media (max-width: 992px) {
    padding: 22px 20px 58px;
    background: #27262A;
  }

  @media (max-width: 480px) {
    padding: 31px 16px;
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;

  @media (max-width: 992px) {
    align-items: flex-start;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 17px;

  &:hover {
    color: $page-secondary-color;
  }

  &:hover .logo-image {
    background-image: url("../img/icons/logo-hover.png");
  }
}

.logo-image {
  background-image: url("../img/icons/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 43px;
  height: 41px;
}

.logo-name {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;

  @media (max-width: 480px) {
    display: none;
  }
}

.navmenu-wrapper {
  display: flex;
  column-gap: 48px;
  row-gap: 21px;
  font-family: 'Montserrat';
  font-weight: 700;
  flex-wrap: wrap;
  align-items: center;
}

.nav-menu {
  @media (max-width: 992px) {
    position: absolute;
    bottom: 14px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  @media (max-width: 480px) {
    display: none;
  }
}

.nav-list {
  display: flex;
  gap: 48px;
  @media (max-width: 992px) {
    padding: 0 10px;
  }
}

.nav-item {
  &:hover {
    color: $page-secondary-color;
  }
}

.buy-button-wrapper {
  @media (max-width: 992px) {
    order: -1;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  @media (max-width: 480px) {
    width: max-content;
  }
}

.buy-button {
  @media (max-width: 480px) {
    font-size: 15px;
    padding: 11px 24px;
  }
}

.burger-menu {
  display: flex;
  justify-content: flex-end;
  position: relative;
  @media (min-width: 481px) {
    display: none;
  }
}

.burger-button {
  width: 26px;
  height: 21px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.burger-button.active .line1 {
  opacity: 0;
}

.burger-button.active .line2 {
  position: absolute;
  transform: rotate(45deg);
}

.burger-button.active .line3 {
  position: absolute;
  transform: rotate(-45deg);
}

.line {
  width: 26px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transition: transform 0.25s linear, opacity 0.15s ease-in;
}

.line1 {
  width: 15px;
}

.burger-list {
  position: absolute;
  top: 62px;
  right: -10px;
  width: 293px;
  height: 378px;
  background-color: #333333;
  display: none;
  flex-direction: column;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  color: $page-secondary-color;
}

.burger-item {
  border-bottom: 3px solid #3B3B3B;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 53px;
    left: 3px;
    top: 19px;
    background-color: $page-primary-color;
    opacity: 0;
  }

  &:hover:after {
    opacity: 1;
  }
}

.burger-link {
  display: block;
  padding: 33px 0 26px 36px;
  position: relative;

  &:hover {
    color: $page-primary-color;
  }
}

.burger-list.active {
  display: flex;
}
