@font-face {
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-BoldItalic.woff2") format("woff2"), url("../fonts/Lato-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

.font-xs {
	font-size: 14px;
}

.font-s {
	font-size: 15px;
}

.font-m {
	font-size: 16px;
}

.font-l {
	font-size: 21px;

	@media (max-width: 767px) {
		font-size: 16px;
	}
}

.font-xl {
	font-size: 24px;
}

.font-h2 {
	font-size: 48px;

	@media (max-width: 1199px) {
		font-size: 42px;
	}

	@media (max-width: 767px) {
		font-size: 32px;
	}
}